.container {
    display: flex;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
}
.container > div{    
    margin: 10px;
    padding-left: 30px;
}

.botao{
    padding-top: 15px;
}